body {
  background-color: #000;
  margin: 0;
}

.page {
  max-width: 880px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.02;
  color: #fff;
}

.overlay {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
  display: block; /* Mostra o overlay quando o popup está ativo */
}
